@mixin inline-block{
	display: inline-block;  
    *display: inline;  
    *zoom: 1;
}

@mixin rem($size,$base:10) {
	font-size: $size + px;
	font-size: ($size / $base) + rem;
}

@mixin placeholder($color,$size){
	&::placeholder {
		color: $color;
		@include rem($size);
		@extend %font_main;
	}
}

@mixin retina{
	@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
		@content;
	}
}

@mixin query($size){
	@media all and (max-width: $size + px) {
		@content;
	}
}