    <body class="<%= pageClass %>">
        <div class="wrapper">

            <header class="header">
                <div class="header-inner">
                    <div class="header-logo">
                        LOGO
                    </div>
                    <a href="#" class="header-sns google">
                        g+
                    </a>
                    <a href="#" class="header-sns twitter">
                        t
                    </a>
                    <a href="#" class="header-sns facebook">
                        f
                    </a>
                </div>
            </header>
            <nav class="nav">
                <ul class="nav-inner">
                    <li class="nav-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Garalley</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>