    <body class="<%= pageClass %>">
        <div class="wrapper">

            <header class="header">
                <div class="header-inner">
                    <div class="header-logo">
                        LOGO
                    </div>
                    <div class="header-sns-box">
                        <a href="#" class="header-sns google">g+</a>
                        <a href="#" class="header-sns twitter">t</a>
                        <a href="#" class="header-sns facebook">f</a>
                    </div>
                    <a href="#" class="header-trigger" id="js-open">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </header>
            <nav class="nav">
                <ul class="nav-inner">
                    <li class="nav-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Garalley</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="nav-item close">
                        <a href="#" id="js-close">Close</a>
                    </li>
                </ul>
            </nav>