.nav{
    width: 100%;
    background: #333;
    &-inner {
        width: 100%;
        max-width: $size_max;
        margin: 0 auto;
        @extend %clearfix;
        display: table;
    }
    &-item{
        display: table-cell;
        width: 20%;
        height: 50px;
        border-right: #fff 1px solid;
        &:first-child{
            border-left: 1px solid #fff;
        }
        &.close{
            display: none;
        }
        >a{
            display: block;
            height: 50px;
            line-height: 50px;
            text-decoration: none;
            color: #fff;
            background: #333;
            text-align: center;
        }
    }

    @include small{
        display: none;
        .nav-inner{
            display: block;
        }
        .nav-item {
            display: block;
            width: 100%;
            border: 0;
            &.close{
                display: block;
            }
            >a{
                border-bottom: #fff 1px solid;
            }
        }
    }
}