*{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
    min-height: 100%;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
body {
	font-size: 14px;
	line-height: 1;
}
.wrapper{
  width: 100%;
}
