.page-index {

    .heading-primary{
        margin-bottom: 30px;
    }

    .heading-secondary{
        margin-bottom: 8px;
    }

    .archive-list {
        > li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .archive-side-list {
        > li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .info{
        padding-top: 30px;
    }
}

.main-visual{
    width: 100%;
    margin-top: 30px;
}
.main-visual-inner{
    width: $size_max;
    margin: 0 auto;
    >img{
        width: 100%;
        height: auto;
    }
}